<template>
  <div class="container">
    <h1 class="title">Flowchart Vue</h1>
    <h5 class="subtitle">
      <h1>he {{ myArray }}</h1>

      <button @click="loadFile">Load File</button>
      Flowchart & Flowchart designer component for Vue.js.
    </h5>
    <div id="toolbar">
      <button @click="load">load</button>
      <button @click="sorter">sort</button>
      <button @click="myAdd">Add(Double-click canvas)</button>
      <button @click="$refs.chart.remove()">Delete(Del)</button>
      <button @click="$refs.chart.editCurrent()">
        Edit(Double-click node)
      </button>
      <button @click="$refs.chart.save()">Save</button>
    </div>
    <flowchart
      :nodes="nodes"
      :connections="connections"
      @editnode="handleEditNode"
      :width="'100%'"
      :height="500"
      :readonly="false"
      @dblclick="handleDblClick"
      @editconnection="handleEditConnection"
      @save="handleChartSave"
      @select="handleSelect"
      @selectconnection="handleSelectConnection"
      ref="chart"
      :render="render"
    >
    </flowchart>
    <node-dialog
      :visible.sync="nodeDialogVisible"
      :node.sync="nodeForm.target"
    ></node-dialog>
    <connection-dialog
      :visible.sync="connectionDialogVisible"
      :connection.sync="connectionForm.target"
      :operation="connectionForm.operation"
    >
    </connection-dialog>
  </div>
</template>
<script>
/* eslint-disable no-unused-vars */

import ConnectionDialog from "../components/ConnectionDialog";
import NodeDialog from "../components/NodeDialog";
import Flowchart from "../components/flowchart/Flowchart";
import * as d3 from "d3";
import { roundTo20 } from "../utils/math";
import { shortSample } from "../utils/jsonRules";

export default {
  components: {
    ConnectionDialog,
    NodeDialog,
    Flowchart,
  },
  data: function () {
    return {
      op: [],
      test_result: [],
      myNodes: [],
      nodes: [
        // { id: 'node_1',
        //   x: 330,
        //   y: 40, name: "Start", type: "start" },
        // // { id: 2, x: 630, y: 220, name: "End", type: "end" },
        // {
        //   id: 'node_0',
        //   x: 80,
        //   y: 310,
        //   name: "Custom size",
        //   type: "operation",
        //   approvers: [{ id: 1, name: "Joyce" }],
        //   width: 120,
        //   height: 40,
        // },
        // {
        //   id: 'node_2',
        //   x: 600,
        //   y: 310,
        //   name: "Operation",
        //   type: "operation",
        //   approvers: [{ id: 2, name: "Allen" }],
        // },
        // {
        //   id: 'node_3',
        //   x: 330,
        //   y: 200,
        //   name: "Conditions",
        //   type: "condition",
        //   approvers: [{ id: 3, name: "Teresa" }],
        // },
      ],
      connections: [
        // {
        //   source: { id: "node_1", position: "bottom" },
        //   destination: { id: "node_3", position: "top" },
        //   id: 1,
        //   type: "pass",
        // },
        // {
        //   source: { id: "node_3", position: "right" },
        //   destination: { id: "node_2", position: "top" },
        //   id: 2,
        //   type: "pass",
        // },
        //   {
        //   source: { id: "node_3", position: "left" },
        //   destination: { id: "node_0", position: "top" },
        //   id: 2,
        //   type: "pass",
        // },
        // {
        //   source: { id: 5, position: "right" },
        //   destination: { id: 2, position: "left" },
        //   id: 3,
        //   type: "pass",
        // },
        // {
        //   source: { id: 5, position: "bottom" },
        //   destination: { id: 4, position: "bottom" },
        //   id: 4,
        //   type: "reject",
        // },
        // {
        //   source: { id: 1, position: "top" },
        //   destination: { id: 3, position: "left" },
        //   id: 5,
        //   type: "pass",
        // },
        // {
        //   source: { id: 3, position: "right" },
        //   destination: { id: 2, position: "top" },
        //   id: 6,
        //   type: "pass",
        // },
      ],
      nodeForm: { target: null },
      connectionForm: { target: null, operation: null },
      nodeDialogVisible: false,
      connectionDialogVisible: false,
      myArray: [],
      i: 0,
    };
  },
  async mounted() {},
  methods: {
    array_duplicates(arr) {
      let sorted_arr = arr.slice().sort();
      let results = [];
      for (let i = 0; i < sorted_arr.length - 1; i++) {
        if (sorted_arr[i + 1].name == sorted_arr[i].name) {
          results.push(sorted_arr[i]);
        }
      }
      return results;
    },
    sorter() {

      let value = "Street is 1";
      console.log(value[value.length -1])

      let a = this.$refs.chart.internalNodes;
      let variables = [];
      a.sort((a, b) => (a.name > b.name ? 1 : -1));

      let connections = this.$refs.chart.internalConnections
      // connections.sort((a, b) => {if(a.incomVar)(a.incomVar.name > b.incomVar.name ? 1 : -1)});
      // connections.forEach((con)=>{

        



      // });

      variables = a.filter((a)=> a.type == 'variable')
      let duplicate = this.array_duplicates(variables)[0];
      // // start
        if (duplicate) {
        a.forEach((node) => {
          let source;
          let destination;

          if (node.name == duplicate.name) {

            this.$refs.chart.internalConnections.forEach((conn)=>{   

            source = this.$refs.chart.internalConnections.filter((conn) => conn.source.id == duplicate.id)[0]
            
            if(source){
              this.$refs.chart.internalConnections.filter((conn) => conn.source.id == duplicate.id)[0].source.id = node.id
              this.$refs.chart.internalConnections.filter((conn) => conn.source.id == node.id)[0].source.position = "bottom"
            }

            destination = this.$refs.chart.internalConnections.filter((conn) => conn.destination.id == duplicate.id)[0]
            if(destination){
            this.$refs.chart.internalConnections.filter((conn) => conn.destination.id == duplicate.id)[0].destination.id=node.id
            this.$refs.chart.internalConnections.filter((conn) => conn.destination.id == node.id)[0].destination.position="top"

            }
            });  

          }
        });
      }

            if(duplicate){
              // a.forEach((node)=>{

              // });
              this.$refs.chart.removeNode(duplicate);
            }







      // end

      ///////////////////////////////////////////////////////////////
      // if (duplicate) {
      //   a.forEach((node) => {
      //     let bing;
      //     if (node.name == duplicate.name) {
      //       bing = this.$refs.chart.internalConnections.filter(
      //         (conn) => conn.source.id == duplicate.id
      //       )[0];
      //       if (bing) {
      //         let destination = this.$refs.chart.internalConnections.filter(
      //           (conn) => conn.destination.id == duplicate.id
      //         )[0];
      //         if (destination) {
      //           this.$refs.chart.internalConnections.filter((conn) => conn.source.id == duplicate.id)[0].source.id = node.id;
      //           this.$refs.chart.internalConnections.filter((conn) => conn.destination.id == duplicate.id)[0].destination.id = node.id;
      //           console.log("destination");
      //         }
      //       }
      //     }
      //   });
      // }
      // console.log(duplicate)
      // this.$refs.chart.removeNode(duplicate);

      ////////////////////////////////////////////////////////////////////////////////

      // console.log(duplicates);
    },
    loadFile() {
      let jz = shortSample;

      let conclusion = "";
      let condition = [];
      let ar = [];

      let position = {
        x: 300,
        y: 10,
      };
      this.i = 1;
      this.$refs.chart.add({
        id: "node_0",
        x: position.x,
        y: position.y,
        name: "start",
        type: "start",
        approvers: [],
      });

      jz.forEach((js) => {
        let prev = [];
        console.log(js);
        conclusion = js.conclusion.title;
        this.$refs.chart.internalConnections.push({
          source: { id: "node_0", position: "bottom" },
          destination: { id: "node_" + this.i, position: "top" },
          id: "conn" + this.i,
          type: "pass",
        });

        js.conditions.forEach((cc) => {
          // console.log(cc)
          this.$refs.chart.add({
            id: "node_" + this.i++,
            x: position.x,
            y: (position.y += 100),
            name: cc.key,
            type: "variable",
            approvers: [],
          });

          this.$refs.chart.add({
            id: "node_" + this.i++,
            x: position.x,
            y: (position.y += 100),
            name: cc.description,
            condition: cc.condition,
            type: "condition",
            // incomVar:{
            //   id:"node_"+ (this.i-1),
            //   name:cc.key,
            // },
            approvers: [],
          });

          this.$refs.chart.internalConnections.push({
            source: { id: "node_" + (this.i - 2), position: "bottom" },
            destination: { id: "node_" + (this.i - 1), position: "top" },
            id: "conn" + this.i,
            type: "pass",
            condition: "",
            incomVar:{
              id:"node_"+ (this.i-2),
              name:cc.key,
            }
          });

          this.$refs.chart.internalConnections.push({
            source: { id: "node_" + (this.i - 1), position: "bottom" },
            destination: { id: "node_" + this.i, position: "top" },
            id: "conn" + this.i,
            type: "pass",
            condition: cc.operator + cc.value,
            incomVar:{
              id:"node_"+ (this.i-1),
              name:cc.key,
            }
          });

          prev.push(cc);
        });

        this.$refs.chart.internalConnections.push({
          source: { id: "node_" + (this.i - 2), position: "bottom" },
          destination: { id: "node_" + (this.i - 1), position: "top" },
          id: "conn" + this.i,
          type: "pass",
          condition: "",
        });

        this.$refs.chart.add({
          id: "node_" + this.i++,
          x: position.x,
          y: (position.y += 100),
          name: conclusion,
          type: "output",
          approvers: [],
        });

        position.x += 200;
        position.y = 10;
        condition = [];
      });

    },
    load() {
      this.nodes = [
        {
          id: "node_0",
          x: 270,
          y: 10,
          name: "start",
          type: "start",
          width: 120,
          height: 60,
        },
        {
          id: "node_1",
          x: 290,
          y: 130,
          parent: "node_0",
          name: "A",
          type: "variable",
          width: 120,
          height: 60,
        },
        {
          id: "node_2",
          x: 160,
          y: 250,
          parent: "node_1",
          name: "new",
          type: "condition",
          width: 120,
          height: 60,
        },
        {
          id: "node_3",
          x: 430,
          y: 270,
          name: "A",
          parent: "node_2",
          type: "variable",
          width: 120,
          height: 60,
        },
        {
          id: "node_4",
          x: 560,
          y: 150,
          name: "new",
          parent: "node_3",
          type: "condition",
          width: 120,
          height: 60,
        },
        {
          id: "node_5",
          x: 620,
          y: 280,
          parent: "node_4",
          name: "new",
          type: "output",
          width: 120,
          height: 60,
        },
        {
          id: "node_6",
          x: 180,
          y: 400,
          parent: "node_2",
          name: "new",
          type: "output",
          width: 120,
          height: 60,
          incomCond: {
            id: 123123,
            condition: "asd",
          },
        },
      ];

      this.connections = [
        {
          source: { id: "node_0", position: "bottom" },
          destination: { id: "node_1", position: "top" },
          id: 1641282329916,
          type: "pass",
          condition: "",
        },
        {
          source: { id: "node_1", position: "bottom" },
          destination: { id: "node_2", position: "top" },
          id: 1641282336588,
          type: "pass",
          condition: "",
        },
        {
          source: { id: "node_2", position: "bottom" },
          destination: { id: "node_6", position: "top" },
          id: 1641282336589,
          type: "pass",
          condition: ">100",
        },
        // {
        //   source: { id: "node_2", position: "right" },
        //   destination: { id: "node_4", position: "left" },
        //   id: 16412823311587,
        //   type: "pass",
        //   condition:"<100"

        // },
        {
          source: { id: "node_2", position: "right" },
          destination: { id: "node_3", position: "left" },
          id: 16412823311587,
          type: "pass",
          condition: "<100",
        },
        {
          source: { id: "node_3", position: "top" },
          destination: { id: "node_4", position: "left" },
          id: 16412823311587,
          type: "pass",
        },
        {
          source: { id: "node_4", position: "bottom" },
          destination: { id: "node_5", position: "top" },
          id: 16412823311587,
          type: "pass",
          condition: ">500",
        },
      ];
    },
    myAdd(position) {
      this.$refs.chart.add({
        id: "node_" + this.i++,
        x: position.x,
        y: position.y,
        name: "New",
        type: "operation",
        approvers: [],
      });
    },
    handleDblClick(position) {
      this.myAdd(position);
      // console.log(this.$refs.chart.internalNodes[this.$refs.chart.internalNodes.length - 1]);
    },
    handleSelect(nodes) {
      // console.log(nodes);
    },
    handleSelectConnection(connections) {
      // console.log(connections);
    },
    async handleChartSave(nodes, connections) {
      console.log(nodes);
      // console.log(connections)
      // return ;
      let type = null;

      connections.forEach((conn) => {
        nodes.forEach((nd) => {
          // if(conn.destination.id == nd.id){
          //   type = nd.type;
          // }
          if (conn.destination.id == nd.id && nd.type == "output") {
            this.op.push(nd);
          }
        });
        this.test_result.push({
          id: conn.id,
          source_id: conn.source.id,
          destination_id: conn.destination.id,
          condition: conn.condition,
          type: type,
        });
      });
      let res = this.test_result;
      let tmp = [];
      let source = null;
      let i = 0;
      // console.log(this.op);
      // this.myNodes=nodes;
      this.op.forEach((op) => {
        let t = this.traverse(op);
        console.log(t);
        // while(source){
        //   source=res.source_id
        //   console.log('what is goin')
        // }
      });
      // console.log(this.test_result)

      // let root = d3.hierarchy(res)
      // console.log(root)

      // op.forEach((op)=>{

      // res.forEach((res)=>{
      //       console.log(res);

      // });
      //    while(res.source_id){

      //      console.log('here it is '+ res.destination.id)

      // }

      // });

      // console.log(this.test_result)
      this.test_result = [];
      this.op = [];

      // }
      // console.log(this.getAllNestedElements(connections))

      //   let i =0;
      //   for(i=0;i<this.$refs.chart._data.internalConnections.length;i++){
      // console.log(this.$refs.chart._data.internalConnections[i])
      //   }
      // axios.post(url, {nodes, connection}).then(resp => {
      //   this.nodes = resp.nodes;
      //   this.connections = resp.connections;
      //   // Flowchart will refresh after this.nodes and this.connections changed
      // });
    },
    traverse(node) {
      let t = node.type;

      if (node.parent) {
        let op1 = this.nodes.filter((o) => o.id == node.parent)[0];
        // let connection = this.connections.filter(con => con.source.id == op1.id && con.destination.id == node.id)[0];
        // console.log({connection});

        t += "," + this.traverse(op1);
        //+ ", " + connection.condition ;
      }
      this.test_result.push(t);
      return t;
    },
    getAllNestedElements(arr) {
      var result = [];
      for (var i = 0; i < arr.length; i++) {
        if (arr[i].condition) {
          let operator = arr[i].condition.match(/[^\w\s]/gi)[0];
          let number = arr[i].condition.replace(/^\D+/g, "");
          console.log(operator);
          console.log(number);
        }
        // if()
      }
      //console.log(result);
      return result;
    },
    handleEditNode(node) {
      this.nodeForm.target = node;
      this.nodeDialogVisible = true;
    },
    handleEditConnection(connection) {
      this.connectionForm.target = connection;
      this.connectionDialogVisible = true;
    },
    render: function (g, node, isSelected) {
      node.width = node.width || 120;
      node.height = node.height || 60;
      node.width = node.height;
      let borderColor = isSelected ? "#666666" : "#bbbbbb";
      if (node.type !== "start" && node.type !== "end") {
        // title
        if (node.type == "condition") {
          g.append("polygon")
            .attr(
              "points",
              `${node.x + node.width / 2},${node.y} ${node.x},${
                node.y + node.height / 2
              } ${node.x + node.width / 2},${node.y + node.height} ${
                node.x + node.width
              },${node.y + node.height / 2}`
            )
            .style("fill", "blue");
        } else if (node.id !== 3) {
          g.append("rect")
            .attr("x", node.x)
            .attr("y", node.y)
            .attr("stroke", "black")
            .attr("class", "title")
            .style("height", "20px")
            .style("fill", "grey")
            .style("stroke-width", "1px")
            .style("width", node.width + "px");

          // g.append("text")
          //   .attr("x", node.x + 4)
          //   .attr("y", node.y + 15)
          //   .attr("class", "unselectable")
          //   .text(() => node.name)
          //   .each(function wrap() {
          //     let self = d3.select(this),
          //       textLength = self.node().getComputedTextLength(),
          //       text = self.text();
          //     while (textLength > node.width - 2 * 4 && text.length > 0) {
          //       text = text.slice(0, -1);
          //       self.text(text + "...");
          //       textLength = self.node().getComputedTextLength();
          //     }
          //   });
        }
      }
      // body
      if (node.id === 3) {
        let body = g.append("ellipse").attr("class", "body");
        body.attr("cx", node.x + node.width / 2);
        body.attr("cy", node.y + node.height / 2);
        body.attr("rx", node.width / 2);
        body.attr("ry", node.height / 2);
        body.style("fill", "white");
        body.style("stroke-width", "1px");
        body.classed(node.type, true);
        body.attr("stroke", borderColor);
      } else if (node.type == "condition") {
      } else {
        let body = g.append("rect").attr("class", "body");
        body
          .style("width", node.width + "px")
          .style("fill", "white")
          .style("stroke-width", "1px");
        if (node.type !== "start" && node.type !== "end") {
          body.attr("x", node.x).attr("y", node.y + 20);
          body.style("height", roundTo20(node.height - 20) + "px");
        } else {
          body
            .attr("x", node.x)
            .attr("y", node.y)
            .classed(node.type, true)
            .attr("rx", 30);
          body.style("height", roundTo20(node.height) + "px");
        }
        body.attr("stroke", borderColor);
      }

      // body text
      let text = node.name;
      // node.type === "start"
      //   ? "Start"
      //   : node.type === "end"
      //   ? "End"
      //   : node.type === "variable"
      //   ? "Variable"
      //   : node.type === "output"
      //   ? "OutPut"
      //   : node.type === "condition"
      //   ? "Condition"
      //   : !node.approvers || node.approvers.length === 0
      //   ? "No approver"
      //   : node.approvers.length > 1
      //   ? `${node.approvers[0].name + "..."}`
      //   : node.approvers[0].name;
      let bodyTextY;
      if (node.type !== "start" && node.type !== "end") {
        if (node.id === 3) {
          bodyTextY = node.y + 25;
        } else {
          bodyTextY = node.y + 25 + roundTo20(node.height - 20) / 2;
        }
      } else {
        bodyTextY = node.y + 5 + roundTo20(node.height) / 2;
      }
      g.append("text")
        .attr("x", node.x + node.width / 2)
        .attr("y", bodyTextY)
        .attr("class", "unselectable")
        .attr("text-anchor", "middle")
        .text(function () {
          return text;
        })
        .each(function wrap() {
          let self = d3.select(this),
            textLength = self.node().getComputedTextLength(),
            text = self.text();
          while (textLength > node.width - 2 * 4 && text.length > 0) {
            text = text.slice(0, -1);
            self.text(text + "...");
            textLength = self.node().getComputedTextLength();
          }
        });
    },
  },
};
</script>
<style scoped>
#toolbar {
  margin-bottom: 10px;
}

.title {
  margin-top: 10px;
  margin-bottom: 0;
}

.subtitle {
  margin-bottom: 10px;
}

#toolbar > button {
  margin-right: 4px;
}

.container {
  width: 800px;
  margin: auto;
}
</style>
