<template>
  <div>

        <div class="modal" v-if="visible" style="width: 320px">
      <div class="header">
        <span>Edit</span>
      </div>
      <div class="body">
        <label for="name">Name</label>
        <input class="form-control" id="name" v-model="nodeForm.name" />
        <label for="type">Type</label>
        <select class="form-control" id="type" v-model="nodeForm.type">
          <option
            :key="'node-type-' + item.id"
            :value="item.id"
            v-for="item in [
              { name: 'Start', id: 'start' },
              { name: 'End', id: 'end' },
              { name: 'Operation', id: 'operation' },
              { name: 'OutPut', id: 'output' },
              { name: 'Condition', id: 'condition' },
              { name: 'Variable', id: 'variable' },
            ]"
          >
            {{ item.name }}
          </option>
        </select>
        <label for="approver">Approver</label>
        <select
          class="form-control"
          id="approver"
          :value="nodeForm.approver.id"
          @change="handleChangeApprover($event)"
        >
          <option
            :value="item.id"
            :key="'approver-' + item.id"
            v-for="item in approvers"
          >
            {{ item.name }}
          </option>
        </select>
      </div>
      <div class="footer">
        <button @click="handleClickCancelSaveNode">Cancel</button>
        <button @click="handleClickSaveNode">Ok</button>
      </div>
    </div>
  </div>
</template>
<script>
import "../assets/modal.css";
export default {
  props: {
    username:"",
    visible: {
      type: Boolean,
      default: false,
    },
    node: {
      type: Object,
      default: null,
    },
  },
  data: function () {
    return {
      test:"",
      nodeForm: { name: null, id: null, type: null, approver: [] },
      approvers: [
        { id: 1, name: "Joyce" },
        { id: 2, name: "Allen" },
        { id: 3, name: "Teresa" },
      ],
      myNodes: [],
      myCondition: [],
      myOutput: [],
      searchValue: "variable",
    };
  },
  methods: {

       alert(){
        console.log('alert initiated');
    },
  
    handleClickSaveNode() {
      this.$emit(
        "update:node",
        Object.assign(this.node, {
          name: this.nodeForm.name,
          type: this.nodeForm.type,
          approvers: [Object.assign({}, this.nodeForm.approver)],
        })
      );

      // if(this.nodeForm.id != this.myNodes[this.myNodes.length -1]){
      //   // console.log(this.nodeForm.id);
      //   console.log(this.myNodes.id);

      //   console.log('new');
      // }

      // let op = this.myNodes.filter((item) => {
      //   return item.id.includes("node_1");
      // });

      // console.log(op);

      // if (this.myNodes.length > 0) {
        // console.log(this.myNodes);
      // }

      //  console.log(this.nodeForm.id);
      // this.myNodes.push({ id: this.nodeForm.id, type: this.nodeForm.type });

      // this.myVariable.push("null");
      // this.myCondition.push("null");
      // this.myOutput.push(this.nodeForm.type);

      // console.log(this.myVariable);
      // console.log(this.myCondition);
      // console.log(this.myNodes);

      // if(this.myNodes[this.myNodes.length-1] == this.nodeForm.id){
      //   this.myNodes.push(this.nodeForm);
      // }

      this.$emit("update:visible", false);
    },
    handleClickCancelSaveNode() {
      this.$emit("update:visible", false);
    },
    handleChangeApprover(e) {
      this.nodeForm.approver = this.approvers.filter(
        (i) => i.id === parseInt(e.target.value)
      )[0];
    },
  },
  watch: {
    node: {
      immediate: true,
      handler(val) {
        if (!val) {
          return;
        }
        this.nodeForm.id = val.id;
        this.nodeForm.name = val.name;
        this.nodeForm.type = val.type;
        if (val.approvers && val.approvers.length > 0) {
          this.nodeForm.approver = val.approvers[0];
        }
      },
    },
  },
};
</script>